{% for row in modellist %}  
<tr>
    <td>{{row.Auction_Code}}</td>
    <td>{{row.Car_Year}}</td>
    <td>{{row.Color}}</td>
    <td>{{row.Make}}</td>
    <td>{{row.Model}}</td>
    <td>{{row.Subseries}}</td>
    <td>{{row.Body}}</td>
    <td>{{row.Engine}}</td>
    <td>{{row.Transmission}}</td>
    <td>{{row.Mileage}}</td>
    <td>{{row.Condition_Grade}}</td>
    <td>{{row.Times_Run}}</td>
    <td>{{row.Seller}}</td>
    <td>{{row.Sale_Price}}</td>
    <td>{{row.Sold Date}}</td>
</tr>
{% endfor %} 

