<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
</head>
<body>
<select name= "make" method="GET" action="/">
    {% for make in makes %}
    <option value= "{{make}}" SELECTED>{{make}}</option>"
    {% endfor %}
</select>

</body>
</html> -->

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Car Data</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <br />
            <h2 align="center">Car Data</h2><br />
            <select name="search_filter" id="search_filter" class="form-control">
            <option value="">Select Option</option>';
            {% for row in model %}
                <option value="{{row.condition_grade}}">{{row.condition_grade}}</option>';    
            {% endfor %}
            </select>
            <input type="hidden" name="hidden_value" id="hidden_value" />
            <div style="clear:both"></div>
            <br />
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Auction_Code</th>
                            <th>Car_Year</th>
                            <th>Color</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Subseries</th>
                            <th>Body</th>
                            <th>Engine</th>
                            <th>Transmission</th>
                            <th>Mileage</th>
                            <th>Condition_Grade</th>
                            <th>Times_Run</th>
                            <th>Seller</th>
                            <th>Sale_Price</th>
                            <th>Sold Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <br />
        </div>
<script>
$(document).ready(function(){
    load_data();
    function load_data(query='')
    {
        $.ajax({
            url:"/fetchrecords",
            method:"POST",
            data:{query:query},
            success:function(data)
            { 
                $('tbody').html(data);
                $('tbody').append(data.htmlresponse);
            }
        })
    }
  
    $('#search_filter').change(function(){
        $('#hidden_value').val($('#search_filter').val());
        var query = $('#hidden_value').val(); 
        load_data(query);
    });
      
});
</script>
</body>
</html>